
*{
    overflow: auto;
}

body{
    background-color: #8BA1BB;
}

div.contenu{
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    /*min-width: 350px;*/
    box-shadow: 0px 0px 8px 8px rgb(0, 0, 0, 0.2);
    overflow: visible;
}

h1#title{
    text-align: center;
    margin-bottom: 12px;
    margin-top: 15px;
}

p.description{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

.centre{
    text-align: center;
    width: 100%;
    
}


div.cathégorie{
    margin-bottom: 0;
    text-align: center;
    margin-top: 0px;
    overflow: visible;
}


p.cathégorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;

}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

table.info{
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
    width: 100%;
}


table.info th{
    text-align: center;
    font-size: 12px;
    vertical-align: bottom;
}
table.info td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
    padding-bottom: 4px;
}

div.info{
    position: relative;

}

img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}

div.colonne1, div.colonne2{
    width: 50%;
}
div.colonne1{
    display: inline-block;
}

div.colonne{
    width: 100%;
    margin-top: 20px;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829DC0;
    padding-bottom: 5px;
}

div.Ingrédients p{
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
}

table.préparation p.numero{
    background-color: #6C829DC0;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.préparation{
    vertical-align: top;
}

table.préparation td.préparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.préparation tr{
    min-height: 40px;
}

/* Style pour ordinateur */
@media only screen and (min-width:768px) {
    div.contenu{
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }


    table.info{
        height: 80px;
    }
    
    table.info th{
        font-size: 16px;
    }
    table.info td{
        font-size: 14px;
    }


    div.colonne1{
        margin-right: 10%;
    }
    
    div.colonne2{
        float: right;
        
    }
    
    div.colonne{
        width: 45%;
    }
    
}

@media only screen and (min-width: 900px){
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}







/*h1{
    font-size: 16;
    margin-top: 80px;
    margin-left: 34;
}

img{
    margin-left: 35px;
    margin-top: 25px;
}

body{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("/gateau.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //ackground-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;//
    font-family: Arial;
    margin: 0px;
    color: white;
    background-attachment: scroll;
}

.centered{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.center {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


*/